@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a{ text-decoration: none;}
nav
{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 1;
}
body
{
    font-family: 'Poppins', sans-serif;
}

nav img 
{
    width:50px;
    cursor: pointer;
}
nav ul
{
    width: 800px;
    list-style-type:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
nav ul li a
{   text-transform: uppercase;
    letter-spacing: 1px;
    font-size:13px;
    color: #585b5b;
    cursor: pointer;
    padding: 10px 15px;
    border:0;
}
nav ul li a:hover
{
    background-color: #67c8b1e8;
    color: #fff;
    transition: all 0.3s;
    
}
nav .sayhi
{
    text-decoration: none;
    text-transform: capitalize;
    color: #42a0bc;
    font-weight: 100;
    font-size: 0.9rem;
    border-bottom: 2px solid #42a0bc;
    padding-bottom: 2px;
}
#home 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .first
{
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
#home .model
{
    width: 500px;
}

#home .about
{
    width: 520px;;
    height: 250px;
    background-color: rgb(255, 255, 255);
}

#home .first .model img
{
    width: 100%;
}
#home .first .about h1{
    color: #333;
    font-size: 3.5rem;
    font-weight: 100;
}
#home .first .about p{
    color: #00000065;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 25px;
}
#home .first .about a{
    color: #fff;
    background-color: #4b9ea7;
    text-transform: capitalize;
    font-weight: 100;
    border-radius: 25px;
    padding: 10px 30px;
    
}
#home .first .about a:hover{
    background-color: #58cf90f8;
    transition: all 0.5s;
}
#skills {
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills .second
{
    width: 85%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
#skills .second .skill-content
{
    width: 350px;
    height: 480px;
    /* background-color: cornflowerblue; */
}
#skills .second .skill-content span
{
    color: rgba(13, 132, 236, 0.749);
    text-transform: uppercase;
    letter-spacing: 1px;
}
#skills .second .skill-content h1
{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 3rem;
}
.skill-content .skill-letter
{   
    width: 100%;
    height: 125px;
    

    display: flex;
    margin-top: 22px;
}
.skill-content .skill-letter .icon
{
    width: 20%;
    height: 100%;
    /* background-color: rgb(222, 109, 109); */
}
.skill-content .skill-letter .paragraph
{
    /* background-color: burlywood; */
    font-size: 0.9rem;
     font-weight: 200;    
}
.skill-content .icon i
{
    width: 40px;
    height: 40px;
    background-color: rgb(220, 220, 220);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 9px;
}
.fa-html5
{
    color: red;
}
.fa-css3-alt
{
    color: blue;
}
.fa-js
{
    color: orange;
}
.skill-content .skill-letter .paragraph h3 
{
     font-size: 0.9rem;
     font-weight: 200;
}

.skill-content .skill-letter .paragraph p
{   color: #00000090;
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-top: 21px;
}
#skills .second .skill-photo
{
    width: 600px;
    height: 400px;
}
#skills .second .skill-photo img
{
    width: 100%;
    height: 100%;
}
#recent
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#recent .third
{
    width: 85%;
    height: 800px;
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
#recent .third .recent-content
{
    width: 700px;
    height: 150px;
    /* background-color: rgb(106, 62, 62); */
}
#recent .third .recent-content span
{
    color: rgb(49, 155, 159);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
#recent .third .recent-content h1
{ 
    /* color: rgb(190, 26, 190); */
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 100;
}
#recent .third .recent-photo
{
    width: 1100px;
    height: 600px;
    background-color: rgb(202, 239, 147);
}
#recent .third .recent-photo img
{
    width: 100%;
    height: 100%;
}
#recent .third .recent-btn
{
    width: 400px;
    height: 60px;
    /* background-color: rgb(212, 194, 163); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#recent .third .recent-btn a
{
   color: #fff;
   background-color: #1ba0a2e4;
   font-weight: 100;
   border-radius: 18px;
   padding: 8px 45px;
}
#recent .third .recent-btn a:hover
{
    background-color: #d15b33;
    transition: all 0.3s;
}
#client
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
#client .forth
{
    width: 85%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
#client .forth .client-content
{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#client .forth .client-content span{
    color: rgb(61, 162, 234);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;}
#client .forth .client-content h1
{
        font-size: 3rem;
        letter-spacing: 1px;
        font-weight: 100;
}
#client .forth .client-container
{
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#client .forth .client-container .client-box
{
    width: 300px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.01);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#client .forth .client-container .client-box:hover
{
    background-color: rgba(78, 216, 229, 0.675);
    transform: translateY(-10px);
    transition: all 0.2s;
}
.client-container .client-box img
{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}
.client-container .client-box .stars
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-star 
{
    color: rgb(248, 233, 64);
}
.client-container .client-box p
{
    width: 240px;
    color: #00000098;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.4rem;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* margin: 15px 0px; */
}
.client-container .client-box a
{
  color: #fff;
  background-color: rgb(201, 105, 222);
  padding: 8px 20px;
}
#contact
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact .fifth
{
    width: 85%;
    height: 600px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}
#contact .fifth img
{
    width: 400px;
    /* height: 500px; */
    
}
/* #contact .fifth .image img
{
     width: 100%;
     height: 100%;
     margin-top: 20px;
} */
#contact .fifth .contact-text
{
    width: 700px;
    height: 50px;
    
}
#contact .fifth .contact-text h1
{
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
}
#contact .fifth .inputbox
{
    width: 350px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 6px 0px rgb(0,0,0,2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .fifth .inputbox input
{
    outline: none;
    border: none;
    text-align: center;
}
#contact .fifth .inputbox a
{
    color: #fff;
    background-color: rgb(236, 148, 23);
    padding: 8px 25px;
    border-radius: 20px;
}
footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
footer span
{
    color: #00000085;
    font-size: 0.9rem;
}